div {
	width: 200px;
	height: 200px;
	margin: 20px auto;
}

.color1 {
	background-color: orange;
}

.color2 {
	background-color: #acff00;
}

.color3 {
	/*background-color: rgb(0, 0, 0);*/
	background-color: rgba(0, 0, 0, 0.6);
}
.color4 {
	/*hue, saturation, lightness*/
	background-color: hsl(0, 100%, 50%); /*angle 0 - 360, 0 - 100%, 0-100%*/
}
